/* Hide the checkbox */
input[type="checkbox"] {
    display: none;
}

/* Style the label to look clickable */
label {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    text-align: center;
    width: 100%; 
    max-width: 600px;
}

label:hover {
    background-color: #e0e0e0;
}


.container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 0 5px;
    max-width: 600px;
    width: 100%;
}


input[type="checkbox"]:checked + label + .container {
    max-height: 100px; 
    opacity: 1;
    padding: 5px;
    background-color: #f9f9f9;
    border-left: 2px solid greenyellow;
    border-radius: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(194, 160, 117);

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 90%; /* Flexible width */
    margin: 0 auto;
}

/* Media Queries  for larger screens and the other one for phones*/
@media (max-width: 768px) {
    label {
        font-size: 1rem;
        padding: 8px;
    }

    .container {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    label {
        font-size: 0.9rem;
        padding: 6px;
    }

    .container {
        padding: 6px;
    }
}

body {
    background-image: url('nature5.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}